<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd} %-12d{HH:mm:ss.SSS} %highlight(%-5p) [%15.15thread] [correlation-id: %X{correlation-id}] --- %cyan(%logger{25}) - %yellow(%class.%method:%L) : %msg%ex{full}%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE_APPENDER"/>
	</root>
</configuration>
